@import url(/css/utilitis.css);

/* fonts */
@font-face {
    font-family: "Releway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Releway-medium";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Releway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Releway-semibold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "Releway-black";
    src: url(../fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: "Relewayextrabold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
/* colors */
:root{
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}
/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing: antialiased;
}
.container
{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width:768px){
    .container{
        max-width: 720px;
    }
}

@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}

@media (min-width:1200px){
    .container{
        max-width: 1152px;
    }
}
header.topbar{
    background: var(--secondary);
    padding: 0.75rem 0;
    color: var(--pure);
    font-family: "Releway-semibold";
}
header.topbar .icons a{
    margin-right: 0.6rem;
}
header.topbar .auth > div a{
    text-decoration: none;
    color: var(--pure);
}
header.topbar .auth > div img{
    margin-right: 0.3rem;
}
header.topbar .auth .devider{
    padding: 0 1rem;
}
nav .top{
    padding: 1.5rem 0;
}
nav .top .contact h5, nav .top .time h5{
    font-family: "Releway-black";
    margin-bottom: 0.25rem;
}
nav .top .contact h6, nav .top .time h6{
    font-family: "Releway-medium";
    font-size: 0.75rem;
    letter-spacing: 0.055rem;
    color:var(--ternary);
}
nav .top .contact img, nav .top .time img{
    margin-right: 1rem;
}
nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: "Releway-semibold";
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition:all 0.3s ease ;
}
nav .navbar a:hover{
    background: var(--primary);
    color: var(--pure);
}
nav .navbar a.active{
    background: var(--primary);
    color: var(--pure);
}
